<div class="work-area" >

	<div class="name" style="margin-bottom: 20px;">
		Image
	</div>

	<div class="image-one">
		<img src="{{image.largeImageURL}}">
	</div>

	<div class="file-logo" style="margin-top: 20px; ">
		<div class="line">Resolution</div>
		<div class="line">Format</div>
		<div class="line"><a>Download</a></div>
	</div>
	<div class="file" style="height: 75px">
		<div>{{image.webformatWidth}}×{{image.webformatHeight}}</div>
		<div style="font-size: 100%;">JPG</div>
		<div><a href="{{image.webformatURL}}?attachment=" download>Click here</a></div>
	</div>
	<div class="file" style="height: 75px">
		<div>1280×854</div>
		<div style="font-size: 100%;">JPG</div>
		<div><a href="{{image.largeImageURL}}?attachment=" download>Click here</a></div>
	</div>

	<div style="margin-bottom: 40px">

	</div>

</div>