html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

::ng-deep body {
	line-height: 1;
	margin: 0;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}


html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

::ng-deep body {
	outline: none;
	background: #fff;
	font-family: 'Helvetica';
	line-height: 1.75em;
	color: #414141;

	padding: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	letter-spacing: 0.02em;
	color: #414141;

}




.work-area{
/*	display: flex;*/
/*	margin-left: 10px;
	margin-right: 10px;*/
/*	width: 1190px;*/
/*	justify-content: space-between;
	flex-direction: column;*/
}
.list-items{
	width: 100%;
}
.list-items ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.list-items ul li{
	width: 390px;
	border: 1px solid #E3E8EE;
	box-sizing: border-box;
	border-radius: 14px;
	margin-bottom: 10px;
	transition: .3s;
	padding: 20px;
	cursor: pointer;
	box-shadow: 0px 3px 8px rgba(65, 97, 124, 0.4);
}

.list-items ul li div:nth-child(1) {
  font-weight: bold;
  line-height: 15px;
}
.list-items ul li div:nth-child(2) {
  	color: #00BFFF;
}
.list-items ul li div:nth-child(3) {
  	position: absolute;
	display: block;
	height: 1px;
	width: 90px;
	background: #222629;
}
.list-items ul li div:nth-child(4) {
  margin-top: 40px;
  margin-bottom: 30px;
  line-height: 30px;
  font-size: 24px;
  word-break:break-all;
}
.list-items ul li:hover {
	box-shadow: 0px 3px 8px rgba(65, 97, 124, 0.6);
}

.list-items ul li:hover{

}
.form{
	padding-left: 10px;
	height: 35px;
	border: 1px solid #E9EEF2;
	border-radius: 14px;
	min-width: 100px;
	outline: none;
}
.button{
	padding-left: 15px;
	padding-right: 15px;
	background-color: #FFFFFF;
	display: block;
	cursor: pointer;
	border-radius: 20px;
	border: 1px solid #E9EEF2;

	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	letter-spacing: 0.02em;
	color: #414141;

}
.main{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FFFFFF;
}
.main .main-width{
	width: 1190px;
}
.main .header{
	width: 220px;
	position: fixed;
	height: 100%;
	background: #222629;
	box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
	color: #fff;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main .header ul{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main .header ul li{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 55px;
	font-size: 20px;
	position: relative;
	width: 90px;
	cursor: pointer;
	margin-bottom: 40px;
	color: #FFFFFF;
	outline: none;
}
.main .header ul li:last-child{
	margin-bottom: 0px;
}
.main .header ul li:after,
.main .header ul li:before{
	position: absolute;
	content: '';
	display: block;
	height: 1px;
	width: 90px;
	background: #FFFFFF;
	transition: .3s;
}
.main .header ul li:hover:after,
.main .header ul li:hover:before{
	width: 0;
}
.main .header ul li:after{
	bottom: 55px;
}
.main .header ul li:before{
	top: 55px;
}

.work-area .input-area .form{
	width: 380px;
	margin-right: 10px;
}
.work-area .input-area{
	display: flex;
	margin-bottom: 10px;
}
.main .footer{
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.work-area .file div:nth-child(2) {
	flex: 70%;
	font-size: 24px;
}
.work-area .file div:nth-child(3) {
	flex:15%;
}
.work-area .file div:nth-child(1) {
/*	flex: 100%;*/
  	flex:15%;

}
.work-area .file-logo div:nth-child(2) {
	flex: 70%;
	color: #00BFFF;
	position: relative;
}
.work-area .file-logo div:nth-child(3) {
	flex:15%;
	position: relative;
	color: #00BFFF;
}
.work-area .file-logo div:nth-child(1) {
  	flex:15%;
  	position: relative;
  	color: #00BFFF;

}
.work-area .file{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	height: 100px;
}
.work-area .file a{
	text-decoration: none;
	padding-left: 25px;
	padding-right: 25px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 1px solid #E9EEF2;
	border-radius: 14px;
	color: #414141;

}
.work-area .name{
	margin-top: 20px;
	font-size: 24px;
	font-weight: bold;
}
.file-logo{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 30px;
}
.file-logo .line:after {
	content: '';
	position: absolute;
	width: 90px;
	height: 1px;
	background: #222629;
	top:30px;
	left: 0;
}
.work-area .info{
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
}
.work-area .info .view{
	width: 50%;
}
.work-area .info .logo{
	position: relative;
	color: #00BFFF;
}
.work-area .info .logo:after {
	content: '';
	position: absolute;
	width: 90px;
	height: 1px;
	background: #222629;
	top:30px;
	left: 0;
}
.work-area .info .body {
	margin-top: 30px;
	max-width: 350px;
	word-break:break-all;
}
.home-area{
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	width: 50%;
	text-align: start;
}
.home-area div:nth-child(1){
	font-size: 40px;
	height: 80px;
}
.home-area div:nth-child(2){
	font-size: 20px;
	line-height: 35px;
}
.home-area div:nth-child(3){
	margin-top: 40px;
}
.home-area div:nth-child(4){
}
.home-area div{
	font-weight: 40px;
}
.converter{
	display: flex;
	justify-content: space-between;
}
.converter .input-menu{
	flex: 50%;
}
.converter .box-menu{
	flex: 50%;
}
.converter .box-menu div:nth-child(1){
	width: 100%;
	height: 250px;
	display: block; 
	border: 1px solid #E3E8EE;
	box-sizing: border-box;
	border-radius: 14px;
}
.converter .input-menu .rgb{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}
.converter .input-menu .rgb input{
	display: flex;
	justify-content: flex-start;
	float: left;
	margin-right: 50px;
	width: 100%;
	margin-left: 20px;
	border: 1px solid #E9EEF2;
	border-radius: 14px;
	outline: none;
	height:30px;

}
.converter .input-menu .rgb div{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.converter .input-menu .rgb div div{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 8px;
}
.converter .input-menu .rgb input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:24px;
    height:24px;
    background:#414141;
    border-radius:14px;
    cursor:pointer;
    transition:.1s;
}
.choice{
	display: flex;
	justify-content: center;
	align-items: center;

	text-decoration: none;
	padding-left: 25px;
	padding-right: 25px;
	height: 30px;
	width: 512px;
	cursor: pointer;
	border: 1px solid #E9EEF2;
	border-radius: 14px;
	color: #414141;
	margin-bottom: 15px;
	margin-right: 50px;
	margin-left: 35px;
}
.choice div:nth-child(2){
	width: 1px;
	content: '';
	height: 100%;
	display: block;
	background: #E9EEF2;
/*	margin-right: 120px;
	margin-left: 120px;*/
}
.choice div:nth-child(1),
.choice div:nth-child(3){
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.choice div{

}
.work-area .view-color ul{
	display: flex;
	justify-content: space-between;
	height: 30px;
}
.work-area .view-color ul li{
	flex: 25%;
	position: relative;
	color: #00BFFF;
	align-items: center;
}
.work-area .view-color ul .ee{
	justify-content: flex-end;
	display: flex;
}

.work-area .view-color ul .nee:after{
	content: '';
	justify-content: flex-end;
	display: flex;
	position: absolute;
	width: 90px;
	height: 1px;
	background: #222629;
	top:30px;
	left: 0;
}
.work-area .view-color ul .ee:after{
	right: 0;
	content: '';
	justify-content: flex-end;
	display: flex;
	position: absolute;
	width: 90px;
	height: 1px;
	background: #222629;
	top:30px;
}
.view-color-2 ul{
	display: flex;
	justify-content: space-between;
	height: 70px;
	align-items: center;
}
.view-color-2 ul li{
	flex: 25%;
}
.view-color-2 ul li:nth-child(3){
	display: flex;
	justify-content: flex-end;
}
.view-color-2 ul li:nth-child(4){
	display: flex;
	justify-content: flex-end;
}
.converter .hex input{
	width: 552px;
	margin-right: 50px;
	margin-left: 15px;
}
.main .main-width .header{
/*	position: relative;*/
}
.main .main-width .copyright{
	position: absolute;
	bottom: 10px;
	color: white;
}
.palette{
	width: 100vw;
	height: 100vh;
	position: fixed;
	display: flex;
}
.palette .button-pal{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	background: #222629;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.palette .button-pal div{
	width: 30%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 1px solid #E9EEF2;
	border-radius: 14px;
	font-size: 20px;
	font-weight: bold;
}

.palette div{
	display: flex;
	width: 100%;
	height: 100%;
	position: relative;
	justify-content: center;
	align-items: center;
}
.palette .palette-col{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-weight: bold;
	flex-direction: column;
	opacity: 0.5;
	height: 200px;
}
.palette .palette-col div{
	display: flex;
	justify-content: center;
	align-items: center;

}
@media screen and (max-width: 1200px) and (min-width: 1670px){
	.work-area{
		width: 100%;
	}


	.list-items ul{
		justify-content: space-around;
	}
  	.main .main-width{
		width: 100%;
	}
	.list-items ul li{
  		width: 49%;
  	}
  	.work-area .input-area{
		justify-content: space-around;
	}
}
@media screen and (max-width: 1450px) {
  .main .main-width .header {
  	display: none;
  }
}
@media screen and (max-width: 1670px) {
	.main .main-width{
		width: 1000px;
	}
	.list-items ul li{
  		width: 49%;
  	}
  	.work-area .input-area .form{
		width: 49% !important;
		margin-right: auto;
	}
	.work-area .input-area{
		justify-content: space-around;
	}
}
.main .main-width .content{
	display: flex;
	justify-content: center;
}
@media screen and (max-width: 600) {
	.list-items ul{
		justify-content: space-around;
	}
  	.main .main-width{
		width: 100%;
	}
	.list-items ul li{
  		width: 99%;
  	}
  	.work-area .input-area{
		justify-content: space-around;
	}
}

@media screen and (max-width: 1200px){
	.home-area{
		justify-content: center;
		text-align: center;
		padding-right: 20px;
		padding-left: 20px;
		width: auto;
	}
	.home-area div{
		justify-content: center;
	}

	.work-area .info{
		flex-direction: column;
	}
	.work-area{
		padding-right: 20px;
		padding-left: 20px;
	}
	.work-area .converter{
		flex-direction: column;
	}
	.choice{
		width: auto !important;
	}
	.images-in .tel-v{
		font-size: 12px;
	}
	.images-in .tel-v div:nth-child(2){
		margin-left: 20px;
		margin-right: 20px;
	}
}
@media screen and (max-width: 1200px){
	.images-in{
		flex-direction: column;
		align-items: flex-start !important;
		justify-content: center !important;
	}
}
::ng-deep app-color{
	width: 100%
}
::ng-deep app-font{
	width: 100%
}
::ng-deep app-palette{
	width: 100%
}
::ng-deep app-image{
	width: 100%
}


.main .menu_btn {
  z-index: 9999;
  background-color: #222629;
  width: 45px;
  height: 45px;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1450px) {
  .main .menu_btn {
    display: none;
  }
}
.main .menu_btn span {
  display: block;
  position: relative;
  background-color: rgb(0, 191, 255);
  margin-right: 1px;
  width: 65%;
  height: 2px;
}
.main .menu_btn span:after,
.main .menu_btn span:before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgb(0, 191, 255);
  width: 100%;
  height: 2px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main .menu_btn span:after {
  top: 9px;
}
.main .menu_btn span:before {
  top: -9px;
}
.main input {
  display: none;
}
.menu_btn-2 span {
  background: transparent !important;
}
.menu_btn-2 span:after {
  top: 0 !important;
  -webkit-transform: rotate(45deg) !important;
  -ms-transform: rotate(45deg) !important;
  transform: rotate(45deg) !important;
}
.menu_btn-2 span:before {
  top: 0 !important;
  -webkit-transform: rotate(-45deg) !important;
  -ms-transform: rotate(-45deg) !important;
  transform: rotate(-45deg) !important;
}
/*.main input:checked ~ .nav_menu {
  display: block;
}*/

.main .but-check{
	z-index: 10000;
	position: fixed;
	height: 100%;
	width: 50%;
	box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
	flex-direction: column;
	left: 0;
	top: 0;
	background: #222629;
}
.main .but-check ul{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main .but-check ul li{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 100%;
	cursor: pointer;
	color: #FFFFFF;
	outline: none;
	border-bottom: 1px solid #FFFFFF;
}

/*----- PHONE -----*/

.images{
	display: flex;
	flex-wrap: wrap;
}
.images .items{
	width: calc((1190px - 10px)/2);
	height: 405px;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
	cursor: pointer;
}
.images .items-1:nth-child(2n){
	margin-right: 0;
}
.images .items-1{
	width: calc((100% - 10px)/2);
	height: 405px;
}
.images .items-2:nth-child(3n){
	margin-right: 0;
}
.images .items-2{
	width: calc((100% - 20px)/3);
	height: 540px;
}
.images .items .back-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	background-color: rgba(34,34,34,0.70);
	width: 100%;
	height: 80px;
	bottom: 0;
  	line-height: 15px;
  	color: white;
}
.images .items .back-text div{
	margin-left: 20px;
}
.images .items .back-text div:nth-child(1){
	font-weight: bold;
	margin-bottom: 4px;
}
.images .items .back-text div:nth-child(3) {
	margin-top: 5px;
	display: block;
	height: 1px;
	width: 90px;
	background: #00BFFF;
}
.images .items .back-text fa-icon{
	position: absolute;
	color: white;
	width: 20px;
	right: 20px;
}
.img-pages{
	align-items: center;
	display: flex;
}
.img-pages input{
	min-width: 5px;
	width: 40px;
}
.img-pages div{
	margin-left: 5px;
}
.images-in{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	align-items: center;
}

.image-one img{
	max-width: 1190px;
	max-height: 700px;
}


/*----- PHONE -----*/

@media screen and (max-width: 699px) {
	.home-area div:nth-child(1){
		font-size: 20px;
		height: 50px;
		font-weight: 700;
	}

	.work-area .name{
		margin-bottom: 10px !important;
		margin-top: 5px;
	font-size: 20px;
	}
	.list-items ul{
		flex-direction: column;
	}
	.list-items ul li{
		width: 100%;
	}
	.input-area input{
		height: 30px;
	}
	.input-area input:nth-child(1) {
		margin-right: 10px !important;
	}
	.list-items ul li div:nth-child(4){
		margin-top: 20px;
		margin-bottom: 5px;
		font-size: 20px;
	}


	.converter input{
		margin-right: 0;
		width: 100%;
	}

	.work-area .info .view{
		width: 100%;
	}
	.work-area .info .view:nth-child(2){
		margin-top: 20px;
		width: 100%;
	}


	.work-area .file div:nth-child(2) {
		width: 55%;
		flex: 55%;
		font-size: 12px;
	}
	.work-area .file div:nth-child(3) {
		width: 20%;
		flex: 20%;
		font-size: 12px;
	}
	.work-area .file div:nth-child(1) {
	/*	flex: 100%;*/
	  	width:25%;
	  	flex: 25%;
	  	font-size: 12px;
	}
	.file-logo .line:after {
		width: 45px;
	}
	.work-area .file-logo div:nth-child(2) {
		width: 55%;
		flex: 55%;
		font-size: 12px;
	}
	.work-area .file-logo div:nth-child(3) {
		width: 20%;
		flex: 20%;
		font-size: 12px;
	}
	.work-area .file-logo div:nth-child(1) {
	  	width:25%;
	  	flex: 25%;
	  	font-size: 12px;
	}

	.converter .tel-v{
		margin-right: 0 !important;
		margin-left: 0 !important;
		min-width: 10px	
	}
	.converter .tel-vf div{
		width: 30%;
	}
	.view-color{
		font-size: 12px;
	}
	.view-color-2{
		font-size: 12px;
	}
	.work-area .view-color ul .nee:after{
		width: 45px;
	}
	.work-area .view-color ul .ee:after{
		width: 45px;
	}
	.work-area .view-color ul li:nth-child(4){
		display: none;
	}
	.work-area .view-color-2 ul li:nth-child(4){
		display: none;
	}

	.images .items-1{
		margin-right: 0;
	}
	.images .items-1{
		width: 100%;
		height: 280px;
	}
	.images .items-2{
		margin-right: 0;
	}
	.images .items-2{
		width: 100%;
		height: 340px;
	}
	.images-in .in-s{
		flex-direction: column;
	}
	.images-in .in-s .tel-v{
		margin-bottom: 5px !important;
	}
	.work-area .image-one img{
		width: 100%;
	}
	.text-sp{
		max-width: 100% !important;
	}
	.palette{
		display: none;
	}
	.pal-tel-v{
		display: none !important;
	}
	

}